/*** Map CSS ***/
.map-canvas {
  height: 800px;
  width: 900px;
  border: none;
  border-color: #fff;
  color: #fff;
  background-color: "#D37506";
  align-self: center;
}

.path {
  fill: rgb(238, 238, 238);
  stroke: white;
  stroke-width: 2px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.lefthand {
  padding: 48px;
}

#draggable-circle-a #draggable-circle-b {
  z-index: -1;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tooltip-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filter {
  margin-bottom: 12px;
}

/*** Map CSS ***/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
